.matrix-rain {
    font-family: 'La Belle Aurore';
    letter-spacing: 7px;
    line-height: 2;
}

.rain-stream {
    color: #92e5a1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    user-select: none;
    text-shadow: 0 0 8px rgba(32, 194, 14, 0.8);
    font-size: 50px;
    margin-top: -12px;
    
}