.contact-form {
    position: absolute;
    right: 150px;
    top: 150px;
    z-index: 999999;
    width: 30%;
    padding: 20px;
    color: #22b455;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 14px;
        display: block;
        padding-top: 20px;
        animation: fadeInUp 1s 1s;
        animation-fill-mode: forwards;
    }
}

ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;
    }

    li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    background-color: #0e0e1b;
    height: 50px;
    font-size: 16px;
    color: #22b455;
    border: 1px solid #22b455;
    padding: 0 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    border: 1px solid #22b455;
    background-color: #0e0e1b;
    height: 50px;
    font-size: 16px;
    color: #22b455;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
}

.flat-button {
    color: #0e0e1b;
    background-color: #22b455;
    ;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid cornflowerblue;
    float: right;
    border: 4px;


}

@media screen and (max-width: 1200px) { 

    .about-page{
        box-sizing: border-box;
    }
    .contact-form {
        text-align: center;
        position: initial;
            width: 88%;
            height: 0%;
    }

}